.enterance-form__input {
  margin: 0;
  padding: 0 0 7px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #cccccc;
  outline: none;
  background: transparent;
  text-align: left;
  color: #cccccc;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  /* box-sizing: border-box; */
}

.enterance-form__input:first-of-type {
  margin: 0 0 30px;
}

.enterance-form__input:last-of-type {
  margin: 0 0 100px;
}
